/* Estilos de LandingPage */
.landingPage{
    background: #fff;
    width: 100%;
    min-height: 100vh;
    padding-top: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}