/* Estilos de LandingPage */
.landingPage{
    background: #fff;
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.section{
    width: 100%;
    display: flex;
}
.section_inicio{
    flex-direction: column;
}
.section_inicio > img{
    margin: 2vh auto;
    width: 500px;
    max-width: 100%;
}
.section_inicio > p{
    width: 310px;
    margin: auto;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
}
.section_inicio > button{
    width: 250px;
    margin: 4vh auto 8vh;
    border: none;  
    border-radius: 2vh;
    background: #000;
    color: #fff;
    padding: 2vh;
    font-size: 1.2rem;
    font-weight: 500;
    background-image: url('../images/icons/Arrow.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center right 30px;
    transition: .6s ease-in-out;
}
.section_inicio > button:hover{    
    background-position: center right 10px;
}
.section_servicios{
    flex-wrap: wrap;
    justify-content: center;
}
.card_service{
    width: 300px;
    height: 250px;
    border: 2px solid #bababa;
    border-radius: 3vh;
    margin: 2vh;
    padding: 3vh 4vh;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
}
.image_service{
    width: 50px;
}
.title_service{
    display: inline-block;
    width: calc(100% - 50px - 2vh);
    margin-left: 2vh;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
}
.content_service{
    width: 80%;
    margin: 2vh 0;
    font-size: 1rem;
    color: #333;
}
.see_service{
    background: none;
    border: none;
    font-size: 1.2rem;
    color: var(--princypal);
    cursor: pointer;
    text-decoration: underline;
    padding-right: 20px;
    background-image: url('../images/landingPage/Arrow.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center right;
}
.section_nosotros{
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.section_nosotros > h2{
    width: 60%;
    margin: 5vh auto 2vh;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--princypal);
}
.section_nosotros > p{
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
}
.section_nosotros > img{   
    display: block;
    margin: 5vh auto;
    width: 500px;
    max-width: 90%;
    z-index: 1;
}
.section_nosotros::before{
    content: '';
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 140%;
    height: 200px;
    background: var(--princypal);
    transform: rotate(-9.83deg) translateX(-20%);
}