*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
:root{
    --princypal: #EB6837;
    --secondary: #fff;
}

/* Estilos del Login */
.login_section_form, .login_section_recovery{
    width: 100%;
    margin-bottom: 2vh;
}
.login_section_form > .section_form_title{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--secondary);
}
.login_section_form > .section_form_input{
    display: block;
    width: 300px;
    margin: 2vh auto;
    background: #F0F0F0;
    border: none;
    border-radius: 2vh;
    border-bottom: 2px solid var(--secondary);
    font-size: 1.1rem;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center left 20px;
    padding: 1rem 1rem 1rem 60px;
    outline: none;
}
.login_section_form > .section_form_input:focus{
    border-bottom: 2px solid var(--princypal);
}
.login_section_form > .type_user{
    background-image: url(../images/icons/Email.svg);
}
.login_section_form > .type_password{
    background-image: url(../images/icons/Password.svg);
}
.login_section_recovery > .section_recovery_link{
    display: block;
    width: 100%;
    color: var(--secondary);
    text-align: center;
    margin-bottom: 5vh;
}
.login_section_recovery > .section_recovery_link > b{
    color: #39BDDA;
    cursor: pointer;
}
.login_section_recovery > .section_recovery_link > b:hover{
    text-decoration: underline;
}