/* Estilos de los toastr */
.notifications{
    position: fixed;
    z-index: 9999999;
    pointer-events: none;
    bottom: 12px;
    right: 12px;
}
.toastr{
    background: #fff;
    position: relative;
    margin-top: 1rem;
    margin-left: auto;
    padding: 20px 30px 20px 65px;
    width: 300px;
    border-radius: 2vh 2vh 0 2vh;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 20px;
    pointer-events: auto;
    word-wrap: break-word;
    transition: .6s;
}
.toastr:hover{
    width: 320px;
    cursor: pointer;
}
.toastr-success{
    color: #06853C;
    box-shadow: 0 0 20px #06853C99;
    border: 1px solid #06853C99;
    background-image: url('../images/toastr/Success.svg');
}
.toastr-error{
    color: #D62D30;
    box-shadow: 0 0 20px #D62D3099;
    border: 1px solid #D62D3099;
    background-image: url('../images/toastr/Error.svg');
}
.toastr-warning{
    color: #F57438;
    box-shadow: 0 0 20px #F5743899;
    border: 1px solid #F5743899;
    background-image: url('../images/toastr/Warning.svg');
}
.toastr-info{
    color: #1D81BC;
    box-shadow: 0 0 20px #1D81BC99;
    border: 1px solid #1D81BC99;
    background-image: url('../images/toastr/Info.svg');
}